amp-list div[role="list"] {
  display: grid;
  grid-gap: 0.5em;
}
h4 {
  margin:0;
  padding: 1rem;
}
.mbr-flex{
  display: flex;
  padding: 1rem;
  border: 1px solid #000;
}
.display7{
  font-size: 1rem;
}
.btn{
  background-color: #bbe0e2;
  border-color: #bbe0e2;
  color: #2f6c6f;
  padding: 1rem 2rem;
}
